{% extends "myprojects/layout.html" %}
{% load static %}
{% block body %}
    <h1>My Projects</h1>

    <h3>Published Apps</h3>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card h-100" style="text-align: center;">
                <div style="text-align: center;">
                <img class="card-img-top" style="max-width: 8rem;" src="{% static 'myprojects/images/MemoriesTreeLogo.png' %}" alt="MemoriesTreeLogo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">MemoriesTree</h5>
                    <p class="card-text text-muted">iOS Journaling App. Perfect for journaling and sharing your memories or keeping them private. First Firebase App.</p>
                    <a href="https://apps.apple.com/us/app/memoriestree/id1263250242?ls=1" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Download MemoriesTree</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100" style="text-align: center;">
                <div style="text-align: center;">
                <img class="card-img-top" style="max-width: 8rem;" src="{% static 'myprojects/images/OutOfTimeLogo.png' %}" alt="MemoriesTreeLogo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">OutOfTime</h5>
                    <p class="card-text text-muted">iOS and tvOS Family fun word game. Take turns listing items in a certain category before the music stops. Play music from your device in the game, In-App Purchases, and more.</p>
                    <a href="https://apps.apple.com/us/app/outoftime/id1333852115" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Download OutOfTime</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100" style="text-align: center;">
                <div style="text-align: center;">
                    <img class="card-img-top" style="max-width: 8rem;" src="{% static 'myprojects/images/SlidearooLogo.png' %}" alt="MemoriesTreeLogo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Slidearoo</h5>
                    <p class="card-text text-muted">iOS and tvOS App. Play game of Fifteen slide puzzles with numbers or pictures. You can even play with your own photos. Keep your stats and compete with others. Cloudkit, In-App Purchase, Swift.</p>
                    <a href="https://apps.apple.com/us/app/slidearoo/id1395435780" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Download Slidearoo</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>Mobile Apps Projects</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/AssistStatBasketball" target="_blank" rel="noopener noreferrer">AssistStatBasketball: </a>
                        First Ever iOS Project. Retired in 2019. iOS Basketball Stat Tracking App. Track stats for your Basketball Team and share with others. Uses CoreData and stats are saved to the devices memory.</p>
                    </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/wikipeterson/HandsDown" target="_blank" rel="noopener noreferrer">HandsDown: </a>
                iOS App built with Dr. Steve Peterson. Random student generator. Built with Swift, Spritekit, Cloudkit, and custom Artwork.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/APIApp" target="_blank" rel="noopener noreferrer">APIApp: </a>
                Taught myself to work with API’s. Used the numbersapi.com, jokes API, jeopardy API, stockMarket API, etc.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/SmartFish" target="_blank" rel="noopener noreferrer">SmartFish: </a>
                Making a “Smart Aquarium” that can be controlled by an App. Firebase and Arduino. Currently controls lights and auto feeds. Goal is to check temperature, water level, and more.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/ArduinoConnect" target="_blank" rel="noopener noreferrer">ArduinoConnect: </a>
                An App that connects to Arduino via Bluetooth. Create During MME National Summit 2018.</p>
            </td></tr>
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>Web Development Projects</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/cwalterbuilds" target="_blank" rel="noopener noreferrer">CWalterBuilds.com </a>
                Version 2.0 of my portfolio website. The source code for THIS site www.cwalterbuilds.com. Used Django to build a portfolio site with multiple smaller webapps. Currently has OrderSorter, signup/login, and more coming. Built with HTML, CSS, Javascript, Python.  </p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/cwalter50.github.io" target="_blank" rel="noopener noreferrer">CWalterBuilds GitPages: </a>
                Version 1.0 of my portfolio website. Used GitPages to build the website</p>
            </td></tr>

            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/CS50Web" target="_blank" rel="noopener noreferrer">CS50Web: </a>
                Learning Web Development by taking this Free EdX course in summer 2021. It covers HTML, CSS, Python, Django, SQL, Javascript, Security, and More!</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/UsersAuthentication" target="_blank" rel="noopener noreferrer">UsersAndAuthentication: </a>
                UsersAndAuthentication: Followed a tutorial to add Users and Authentication to Django Project in September 2021. Plan to use the model to add Users and Authentication to CWalterBuilds and OrderSorter. Very cool to see how much of the suthentication, login, logout, and password recovery stuff that Django gives us for free.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://replit.com/@ChristopherWalt" target="_blank" rel="noopener noreferrer">ChristopherWalt Repl.it: </a>
                My replit.com profile. Full of hundreds of projects and code samples</p>
            </td></tr>

             
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>SwiftUI Projects</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/CalculateThat" target="_blank" rel="noopener noreferrer">CalculateThat: </a>
                First SwiftUI Project! Currently, is a Qaudratic Formula Calculator, eventually will add other formula calculators to the project. Now has a Length Unit Converter and Tip Calculator.</p>
                    </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/Landmarks" target="_blank" rel="noopener noreferrer">Landmarks: </a>
                SwiftUI tutorial I am following to learn SwiftUI. https://developer.apple.com/tutorials/swiftui/handling-user-input</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://cwalter50.github.io/100DaysSwiftUI/Projects.html" target="_blank" rel="noopener noreferrer">100DaysSwiftUI </a>
                I am working through a tutorial to learn SwiftUI (Completed June 2020). See the Projects that I am making and learning to make. https://www.hackingwithswift.com/100/swiftui</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/TicTacToeSwiftUI" target="_blank" rel="noopener noreferrer">TicTacToeSwiftUI: </a>
                Great Session Led by Tom Bredemeier at MME National Summit 2021. We built TicTacToe using SwiftUI. It has animations, Alerts, and More all in ONE struct. Its a small example of how powerful SwiftUI is.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/StockSimulator" target="_blank" rel="noopener noreferrer">StockSimulator: </a>
                Built an App that uses the YahooFinance API and allows the user to simulate trading Stock. Can create Accounts, Buy stock, Sell Stock, Create WatchLists, Monitor account growth, etc.</p>
            </td></tr>
             <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/CryptoApp" target="_blank" rel="noopener noreferrer">CryptoApp: </a>
                 Followed an online course from @SwiftfulThinking to build this. The app uses MVVM Architecture, CoreData, CoinGecko API, Color Themes, and much more. The entire App is built using SwiftUI and in Swift.
                </p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/WordleSwiftUI" target="_blank" rel="noopener noreferrer">WordleSwiftUI: </a>
                Building Wordle using SwiftUI</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/ToDoList" target="_blank" rel="noopener noreferrer">ToDoList: </a>
                Followed a SwiftUI tutorial to learn MVVM (Model, View, ViewModel) programming. The tutorial is from SwiftFul Thinking. https://www.youtube.com/c/SwiftfulThinking</p>
            </td></tr>
            
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>Code Challenges</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/AdventOfCode" target="_blank" rel="noopener noreferrer">AdventOfCode: </a>
                One coding challenge a day for the 25 days of advent. Each Day you can collect 2 stars Excited for the challenges. They get harder as the month goes along!</p>
                </td></tr>
        </tbody>
    </table>


    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>Mobile Apps Teaching Projects</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/Race" target="_blank" rel="noopener noreferrer">Race: </a>
                    Create custom classes and objects in an interactive way. Simulate a race with cars</p>
                    </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/Wordle" target="_blank" rel="noopener noreferrer">Wordle: </a>
                    Built the Word Game Wordle with my Mobile Apps Class. Focused on teaching outlet collections, arrays, loops, stackviews, and more.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/MustacheMe" target="_blank" rel="noopener noreferrer">MustacheMe: </a>
                Learn how to use CameraPicker and Gesture Recognizers to put Mustaches on anyone. Great for STEM day Demos.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/Magic8Ball" target="_blank" rel="noopener noreferrer">Magic8Ball: </a>
                Great intro in conditionals + using Siri with Text to Speech and shake gesture. Taught at 2017 MME National Summit.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/GoForGold" target="_blank" rel="noopener noreferrer">GoForGold: </a>
                “Deal or No Deal” type game where you try to rack up as much cash as possible before stiking out. First tvOS project built using Swift. Taught at 2018 MME National Summit.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/FlashCards" target="_blank" rel="noopener noreferrer">FlashCards: </a>
                Use CoreData to make a great Flashcards app. Taught at 2019 MME National Summit.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/MobileMapper2019" target="_blank" rel="noopener noreferrer">MobileMapper2019: </a>
                Completed MME Tutorial to create an app that uses MapKit and we can search the app for “parks”, “pizza”, etc.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/Pong2019" target="_blank" rel="noopener noreferrer">Pong2019: </a>
                Build the classic game Pong using Spritekit. Intro to Breakout for class.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/HallPass" target="_blank" rel="noopener noreferrer">HallPass: </a>
                Fun project to teach firebase database to MobileApps Students: People can sign in and out of the class to go bathroom and app will keep track of how long they were out for.</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/Popcorn2020" target="_blank" rel="noopener noreferrer">Popcorn: </a>
                Fun way to teach collisions in Spritekit. The app starts with 2 popcorn kernels. Everytime they collide you get more popcorn.</p>
            </td></tr>
        </tbody>
    </table>  

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>Misc Programs</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://replit.com/@ChristopherWalt/Wordle#Main.java" target="_blank" rel="noopener noreferrer">Wordle: </a>
                Try to guess the 5 letter word. Inspired by the game Wordle: https://www.powerlanguage.co.uk/wordle/. It is similar to Pico-Bagel-Fermi, but with words instead of numbers. Built in Java. Interact with the repl.it</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://replit.com/@ChristopherWalt/QuadCalculator#Main.java" target="_blank" rel="noopener noreferrer">QuadCalculator: </a>
                Java Swing Quadratic Formula Calculator. Interact with the repl.it</p>
            </td></tr>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://replit.com/@ChristopherWalt/GameOf15" target="_blank" rel="noopener noreferrer">GameOf15: </a>
                Started to Learn Processing to teach 2D arrays in AP CSA. Fun program built with replit.com</p>
            </td></tr>         
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"><h3>Arduino and Rasberry Pi</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><p id="projectLink">
                <a id="projectLink" href="https://github.com/cwalter50/DiscoverDay" target="_blank" rel="noopener noreferrer">DiscoverDay Projects: </a>
                We built a bunch of smaller arduino and pi projects that interact with RFID stickers on students wands they made for Discover Day. Worked with Dr. Jeremy Tomaszewski and some of my students.</p>
            </td></tr> 
            <tr><td><p id="projectLink">
                // More Coming Soon...</p>
            </td></tr>
                 
        </tbody>
    </table>

    <div>
        <p>Version 1.0 of my portfolio site built with githubpages. <a href="https://cwalter50.github.io/">https://cwalter50.github.io/</a>
        </p>
    </div>

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'myprojects/styles.css' %}">

{% endblock %}
