<h2>Published Apps</h2>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">
            <h5 class="card-table">
                <a href="https://cwalter50.github.io/apps/MemoriesTree.html"target="_blank" rel="noopener noreferrer" >MemoriesTree</a>
            </h5>
        </th>
        <th scope="col">
            <h5 class="card-table">
                <a href="https://cwalter50.github.io/apps/OutOfTime.html"target="_blank" rel="noopener noreferrer" >OutOfTime!</a>
            </h5>
        </th>
        <th scope="col">
            <h5 class="card-table">
                <a href="https://cwalter50.github.io/apps/Slidearoo.html"target="_blank" rel="noopener noreferrer" >Slidearoo</a>
            </h5>
        </th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

<ul class="list-group">
    <div class="card-columns">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'myprojects/images/MemoriesTreeLogo.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="https://cwalter50.github.io/apps/MemoriesTree.html"target="_blank" rel="noopener noreferrer" >MemoriesTree</a></h5>
                <p class="card-text">iOS Journaling App. Perfect for journaling and sharing your memories or keeping them private. First Firebase App.</p>
                <a href="https://apps.apple.com/us/app/memoriestree/id1263250242?ls=1" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Download MemoriesTree</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'myprojects/images/OutOfTimeLogo.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="https://cwalter50.github.io/apps/OutOfTime.html" target="_blank" rel="noopener noreferrer">OutOfTime!</a></h5>
                <p class="card-text">iOS and tvOS Family fun word game. Take turns listing items in a certain category before the music stops. Play music from your device in the game, In-App Purchases, and more.</p>
                <a href="https://apps.apple.com/us/app/outoftime/id1333852115" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Download OutOfTime!</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'myprojects/images/SlidearooLogo.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="https://cwalter50.github.io/apps/Slidearoo.html" target="_blank" rel="noopener noreferrer">Slidearoo</a></h5>
                <p class="card-text">iOS and tvOS App. Play game of Fifteen slide puzzles with numbers or pictures. You can even play with your own photos. Keep your stats and compete with others. Cloudkit, In-App Purchase, Swift.</p>
                <a href="https://apps.apple.com/us/app/slidearoo/id1395435780" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Download Slidearoo</a>
            </div>
        </div>
    </div>
</ul>