{% extends "myprojects/layout.html" %}
{% load static %}

{% block body %}
<h1>OrderSorter</h1>
<div>
    <p>Create Survey Questions where responders can rank their answers. The results will be totaled, analyzed, and viewed.</p>
</div>


{% if user.is_authenticated %}
    <div>
        <h3>My Surveys</h3>
    </div>
    <div class="createSurveyButton">
        <a href="{% url 'ordersorter:create' %}" class="btn btn-primary">Create New Survey</a>
    </div>
    {% if user_questions %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for question in user_questions.all %}
                <tr>
                    <td>
                        <span>
                        {{ question }}
                        <div class="text-muted">
                            {{ question.description }}
                        </div>
                        </span>
                    </td>
                    <td>
                        <a href="{% url 'ordersorter:results' question.id %}" class="btn btn-primary">Results</a>
                        <a href="{% url 'ordersorter:poll' question.id %}" class="btn btn-primary">Survey</a>
                        {% if question.user == user %}
                            <a href="{% url 'ordersorter:edit' question.id %}" class="btn btn-primary">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No surveys are available.</p>
    {% endif %}
{% else %}
<div>
    <p>You must be signed in to create surveys</p>
</div>

{% endif %}

<div>
    <h3>Community Surveys</h3>
</div>
{% if questions %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions.all %}
            <tr>
                <td>
                    <span>
                    {{ question }}
                    <div class="text-muted">
                        {{ question.description }}
                    </div>
                    </span>
                </td>
                <td>
                    <a href="{% url 'ordersorter:results' question.id %}" class="btn btn-primary">Results</a>
                    <a href="{% url 'ordersorter:poll' question.id %}" class="btn btn-primary">Survey</a>
                    {% if question.user == user %}
                        <a href="{% url 'ordersorter:edit' question.id %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}




{% endblock %}

{% block style %}
<link href="{% static 'ordersorter/styles.css' %}" rel="stylesheet">
{% endblock %}