{% extends "myprojects/layout.html" %}

{% load static %}

{% block body %}

    <main class="px-3 text-center">
      <div>
        <h1>🎂 When is your birthday? 🎉</h1>
        <p>Date: <input type="text" id="datepicker"></p>
        <button id="thebutton" type="button" class="btn btn-primary">Countdown</button>
        <!-- <p id="results">Results: </p> -->
        <div id="bdaystats" class="stats">
            <h5 id="nextbday">Next Birthday:  </h5>
            <h5 id="countdown">Countdown: </h5>
            <h5 id="age">Age:  </h5>
            <h5 id="sleeps"># of sleeps until your birthday: </h5>
            <h5 id="totalhours">Total Hours: </h5>
            <h5 id="totaldays">Total Days: </h5>
            <h5 id="totalweeks">Total Weeks: </h5>
            <h5 id="totalmonths">Total Months: </h5>
            <!-- <p id="leapyears">Leap Years: </p> -->
        </div>

        <!-- Display the countdown timer in an element -->
        <p id="demo"></p>
      </div>
         
    </main>
    
{% endblock %}

{% block script %}

    <script src="{% static 'birthdaycountdown/countdown.js' %}"></script>

{% endblock %}



{% block style %}

<style>
  .stats {
    padding: 10px;
    margin: 10px;
    /* text-align: center; */
  }

  main {

    color: black;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* body {
    background-color: rgba(0, 0, 0, .1);
  } */
</style>
{% endblock %}