{% extends "myprojects/layout.html" %}

{% load static %}

{% block body %}

    <main class="px-3 text-center">
      <div>
        <h1>Test</h1>
        <p>When is your birthday?</p>
        <p>Date: <input type="text" id="datepicker"></p>
        <button id="thebutton">Count</button>
        <p id="results">Results: </p>



        <!-- Display the countdown timer in an element -->
        <p id="demo"></p>
      </div>
         
    </main>







  
    
{% endblock %}

{% block script %}

    <script src="{% static 'birthdaycountdown/countdown.js' %}"></script>


{% endblock %}



{% block style %}

{% endblock %}